
body

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.bg {
	width: 100%;
	height: 100vh;
	background-color: #88ebf8fb;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}

.Login {
    width: 320px;
    height: 50px;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 0;
}

.Login input{
    width: 100%;
    margin-bottom: 20px;
}
.Login input[type="button"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.Login input[type="button"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.content {
    width: 320px;
    height: 400px;
    border: 5px solid white;
    top: 50%;
    left: 20%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 5px;
}
.content p {
	color: black;
	font-style: italic;
	position: relative;
	left: 5px;
	top: 25px;


}
.content section {
	background-color: #add8e6;
	text-align: center;
}
.contentt {
	width: 320px;
    height: 400px;
    border: 5px solid white;
    top: 50%;
    left: 80%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 5px;
}
.contentt section {
	background-color: #add8e6;
	text-align: center;

}
.contentt ul {
	color: black;
	position: relative;
	left: 25px;
	top: 25px

}



.bubbles img {
	width: 50px;
	animation: bubble 7s linear infinite;

}
.bubbles {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	bottom: -70px;
}
@keyframes bubble{
	0%{
		transform: translateY(0);
		opacity: 0;
	}
	25%{
		opacity: 1;
	}
	50%{
		opacity: 1;
	}
	65%{
		opacity: 1;
	}
	70%{
		opacity: 1;
	}
	80%{
		opacity: 1;
	}
	100%{
		transform: translateY(-80vh);
		opacity: 0;
	}
	
}
.bubbles img:nth-child(1) {
	animation-delay: 6s;
	width: 25px;
}
.bubbles img:nth-child(2) {
	animation-delay: 4.5s;
	width: 20px;
}
.bubbles img:nth-child(3) {
	animation-delay: 1s;
	width: 35px;
}
.bubbles img:nth-child(4) {
	animation-delay: 2s;
	width: 30px;
}
.bubbles img:nth-child(5) {
	animation-delay: 2.5s;
	width: 15px;
}
.bubbles img:nth-child(6) {
	animation-delay: 1.5s;
	width: 40px;
}
.bubbles img:nth-child(7) {
	animation-delay: 0.5s;
	width: 10px;
}

.marquee {
	color: white;
	width: 75%;
	height: 25px;
	
	align-items: center;
	position: relative;
	left: 150px;
	top: 600px;
	border-radius: all;

}

.noti {
	width: 100px;
	height: 35px;
	position: relative;
	left: 50px;
	top: 625px;
	background-color: red;
}


.noti p {
	position: absolute;
	font-size: 5px color black;
	border: 2px color: white;
	text-align: center;
	position: relative;
	top: 5px;
}
@media (min-width: 1200px) {
   
   
  }
  
 
  @media (min-width: 992px) and (max-width: 1199px) {
 
    .Login {
		width: 15%;
	}
    
   
  }
  
  @media (min-width: 760px) and (max-width: 991px) {

    .Login {
		width: 15%;
	}
    
    
  }
  
  @media (max-width: 759px) {
    .Login {
		width: 60%;
	}
	.content {
		margin-top: 10px;
		width: 600px;
		height: 150px;
		border: 5px solid white;
		position: relative;
		top: 25px;
		left: 50%;
		box-sizing: border-box;
		padding: 5px;
	}
	.content p {
		color: black;
		font-style: italic;
		position: relative;
		left: 5px;
		top: 25px;
	
	
	}
	.Login {
		position: relative;
		top: 75%;
		left: 50%;
	}
	.contentt {
		margin-top: 10px;
		width: 600px;
		height: 150px;
		border: 5px solid white;
		position: relative;
		top: 25px;
		left: 50%;
		box-sizing: border-box;
		padding: 5px;
	}
	.contentt section {
		background-color: #add8e6;
		text-align: center;
	
	}
	.contentt ul {
		color: black;
		position: relative;
		left: 25px;
		top: 25px
	
	}
	
    
  }
  @media (max-width: 662px) {
	.content {
		margin-top: 10px;
		width: 400px;
		height: 150px;
	}
	.contentt {
		margin-top: 10px;
		width: 400px;
		height: 150px;
	}

  }
  @media (max-width: 479px) {
	.content {
		margin-top: 10px;
		position: relative;
		top: 15%;
		width: 200px;
		height: 260px;
	}
	.contentt {
		margin-top: 10px;
		width: 200px;
		height: 150px;
	}
	.Login {
		position: relative;
		top: 88%;
		left: 50%;
	}
	
    
  }